#myModal #feedback-page{
	text-align:center;
}

#myModal #form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#myModal #form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#myModal .feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

#myModal .feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

#myModal .focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#myModal #name{
	background-image: url(../images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #name:focus{
	background-image: url(../images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	border-right: 0px;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal #last_name{
	/*background-image: url(../images/name.svg);*/
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #last_name:focus{
	/*background-image: url(../images/name.svg);*/
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal #company{
	background-image: url(../images/company.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #company:focus{
	background-image: url(../images/company.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal #phone{
	background-image: url(../images/phone.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #phone:focus{
	background-image: url(../images/phone.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal #question{
	background-image: url(../images/question.svg);
	background-size: 30px 30px;
	background-position: 11px 18px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
#myModal #question:focus{
	background-image: url(../images/question.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	color: #7B7D82;
	border-color: #A9A9AE;
}
#myModal i.fa.fa-angle-down {
	background-color: #7B7D82;
}

#myModal .mc-select select {
	z-index: 10;
	/*opacity: 0;*/
	cursor:pointer;
	font-size: 18px;
}
#myModal .mc-select span.select {
	font-size: 18px;
}

#myModal #email{
	background-image: url(../images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #email:focus{
	background-image: url(../images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal #comment{
	background-image: url(../images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#myModal #comment:focus{
	background-image: url(../images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	color: #7B7D82;
	border-color: #A9A9AE;
}

#myModal button#sendForm {
	background-color: white !important;
	color: #666 !important;
}
#myModal button#sendForm:hover {
	background-color: white !important;
	color: #df4a43 !important;
}

#myModal textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#myModal input:hover, #myModal textarea:hover,
#myModal input:focus, #myModal textarea:focus {
	background-color:white;
}

#myModal #button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#myModal #button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
#myModal .submit:hover {
	color: #3498db;
}
	
#myModal .ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

#myModal .submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#myModal #form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
